# Dados e Arquivos Locais
data/
*.csv
*.zip
*.parquet
*.delta/
last_processed_month.txt
checkpoint_estado.json

# Python e Ambientes Virtuais
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Databricks e IDEs
.databricks/
.vscode/
.idea/

# Arquivos de configuração de ambiente
.env